<%-include('partials/head.ejs', {stylesheet: '/home.css'})%>
  <body>
    <h1>Login</h1>
    <%#-include('partials/navBar.ejs')%>
    <section>
<div class='container'>
  <form action='/login' method='POST'>
    <div class= 'row'>
        <div class= 'col-2'>
          <div>
            <label for='fUsername'> Username: </label>
          </div>
        </div>
        <div class= 'col'>
          <div>
            <input type='text' id='fUsername' name='fUsername'>
          </div>
        </div>
    </div>
    <div class= 'row'>
        <div class= 'col-2'>
          <div>
            <label for='fPassword'> Password: </label>
          </div>
        </div>
        <div class= 'col'>
          <div>
            <input type='text' id='fPassword' name='fPassword'>
          </div>
        </div>
    </div>
    <div class= 'row'>
        <div class= 'col'>
          <div>
            <input type="submit" value="Login" />
          </div>
        </div>
    </div>
  </form>
</div>
  
  </section>
<%-include('partials/footer.ejs')%>
    
  </body>
</html>
