
    <%-include('partials/head.ejs', {stylesheet: '/payment-orderid.css'})%>
  <body>
    <%-include('partials/navBar.ejs')%>
     
    <main>
      <ul class="breadCrumbs">
        <li class="breadCrumbs-items">
          <a href="/" class="breadCrumbs-link"><img src="/images/MablebearLogo_round.png" alt='Mablebear Logo' class='breadCrumbs-home-logo'></a>
        </li>
        <li class="breadCrumbs-items">
          <a href="/mycart" class="breadCrumbs-link">Cart</a>
        </li>
        <li class="breadCrumbs-items">
          <a href="/mycart/review" class="breadCrumbs-link">Review order</a>
        </li>
        <li class="breadCrumbs-items">
          <a href="/mycart/review/pay" class="breadCrumbs-link breadCrumbs-link-active">Submit payment details</a>
        </li>
      </ul>
    <div class='container'>
      <div class='row'>
        <div class='col'>
          <h2>Upload payment details:</h2>          
        </div>
      </div>
      <div class='row'>
        <div class='col-4'>
          <form action='/payment/<%=orderId%>' method= 'POST' enctype='multipart/form-data'>
            <input type='file' name='fPaymentDetails' id='fPaymentDetails' class="custom-file-input" accept='image/*' required>
            <label for='fPaymentDetails' class='custom-file-label'>Choose file</label>
            <input type="submit" value='submit' class='btn btn-primary' style='margin-top: 2rem;'>
          </form>               
        </div>
      </div>
    </div>
    <div><img src="/images/MablebearLogo_Main.png" alt="mablebear background" class='watermark'></div>
    </main>
<%-include('partials/footer.ejs')%>
    
  </body>
</html>
